<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="kolodziejczyk.olek.inzynierka.emergencyapp">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".HomeScreen"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".BtDeviceList"
            android:label="Discovered Devices:"
            android:theme="@android:style/Theme.Dialog" />
        <!--<activity android:name=".HomeScreen" /> -->
        <activity android:name=".EmergencyDetailActivity" />
        <activity android:name=".EmergencyListActivity" />
        <activity android:name=".BluetoothListActivity" />

        <service
            android:name=".BluetoothService"
            android:enabled="true"
            android:exported="true"></service>
    </application>

</manifest>